@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;800&display=swap");
body {
  background: center url(../src/todoimg.png);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 15rem;
}
#task {
  padding: 1rem;
  padding-left: 28px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #55da65e0;
  font-family: "Dosis", cursive;
  font-size: 20px;
  height: 4rem;
  width: 10rem;
  border-radius: 15px;
  border: 2px solid #ceeb6f;
  text-shadow: 0 2px 5px #999;
  box-shadow: 0 3px 5px #44444450;
  cursor: pointer;
}
#task {
  font-family: "Dosis", cursive;
}
